
body{
    text-align:justify;
}
.title_info{
    font-size:12px;
    color:#b0b0b0;
    margin-bottom:12px;
}
.title_info span{
    color:#b90804;
    font-size:12px;
    background-color:#f1f1f1;
    border-radius:12px;
    padding:1px 8px;
    margin:0px 2px;
}
.title_info a:hover{
    border:0
}
.more{
    font-size:8px;
    color:#b0b0b0;
}
.article_title{
    font-size:24px;
    font-weight:bold;
    color:#333;
    margin-bottom:6px;
}
.article_list_item{
    margin-bottom:15px;
    padding-bottom:15px;
    border-bottom:1px solid #e0e0e0;
}
.entry-content a{
    font-size: 18px;
    color: #575757;
    line-height:1.6;
    text-decoration:none
}
.entry-content a:hover{
    border:0
}
#banner{
    box-shadow: 0 4px 8px rgba(0,0,0,.05), 0 0 0 transparent;
    transform: translateY(0);
    margin-bottom:60px;
}
#menu,#content{
    width:95%;
    max-width:700px;
}
#menu{
    padding:15px 0;
    margin:0 auto;
}
#content{
    margin:0 auto;
}
#site_name {
    display:inline-block;
    font-size:14px;
    color:#b0b0b0;
}
#menu ul{
    display:inline-block;
    list-style-type:none;
    float:right;
    padding:0;
    margin:0 auto;
}
#menu ul li{
    font-size:14px;
    color:#b0b0b0;
    display:inline-block
}
#menu a{
    font-size:14px;
    color:#b0b0b0;
}
.example{
    overflow:auto
}
#contentinfo{
    font-size:14px;
    color:#b0b0b0;
    text-align:center;
    border-top: 1px solid #e0e0e0;
    padding-top: 12px;
    padding-bottom: 50px;
    margin-top:60px;
}
.paginator {
    list-style-type:none;
    padding:0;
    margin:60px auto 0;
    text-align:center;
}
.paginator li{
    display:inline-block;
    width:30px;
    height:30px;
}
.paginator .deactive a{
    color:#3395ff;
    font-weight:bold;
}
.paginator .active{
    background-color:#3395ff;
}
.paginator .active a{
    color:#fff;
    font-weight:bord;
}

/* for article.html*/
p {
    text-indent:2em
}
.entry-title{
    text-align:center;
}
.entry-title a{
    font-size:36px;
    color:#333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}
.post-info{
    font-size:12px;
    color:#b0b0b0;
    margin-bottom:12px;
    text-align:center;
}
.post-info-footer{
    margin-top:18px;
    color:#b0b0b0;
    font-size:12px;
}
.post-info-footer span{
    color:#b90804;
    font-size:12px;
    background-color:#f1f1f1;
    border-radius:12px;
    padding:1px 8px;
    margin:0px 2px;
}
.post-info-footer a:hover{
    border:0
}
