@media screen and (min-width:600px) {
    .sidebar {
        width:180px;
        margin-left:20px;
        float:right;
    }
    #content {
        margin-right:200px;
    }
}
@media screen and (min-width:910px) {
    body {
        width: 900px
    }
}
@media screen and (max-width:799px) {
    .sidebar li {
        display:inline              
    }
}

.sidebar ul {
    list-style-type:none;
    font-size:0.875rem;
}

#banner h1 {
    text-align:center;
    font-weight:bold;
    color:black;
}

.title_info{
    margin-top: -1em;
    font-size: 0.875rem;
    margin-bottom: 1em;
    color: #858585;
}
.continue{
    font-size:0.875rem;
    text-align:right;
}
