{% extends "base.html" %}
{% block content %}
<section id="content">
  {% block content_title %}
{% endblock %}
{# show summaries of the latest articles #}
{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}
<article>
	<header><h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3></header>
	<footer class="title_info"><a href="{{ SITEURL }}/author/{{ article.author|lower|replace(' ', '-') }}.html">{{ article.author }}</a> {% if article.category %} <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category}}</a> {% endif %} {{ article.locale_date }}.{% if article.tags|count > 0 %} {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>, {% endfor %}{% endif %}</footer>
        <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        <p class="continue"><a href="{{ SITEURL }}/{{ article.url }}">继续 &raquo;</a></p>
</article>
<hr />
{% endfor %}
{%endif%}
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
